body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: #FBFBFB;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0 !important;
  list-style-type: none !important;
  padding: 0 !important;
}


/*=== site banner ===*/
header {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 50px;
}

section.banner_section {
  padding: 55px 0;
  height: 107vh;
}


.banner_section .bg_video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
  right: 0;
}

.banner_section .bg_video video {
  min-width: 100%;
  min-height: 100%;
}

.banner_content h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

.banner_content p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.4px;
}

.btn.btn-primary {
  background: transparent;
  border: 2px solid #B4F43D;
  height: 48px;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  border-radius: 58px;
  padding: 0px 6px 0 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #B4F43D;
}

.btn.btn-primary span {
  background: #b4f43d;
  width: 36px;
  height: 36px;
  border-radius: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.brightest {
  padding: 40px 0;
  position: relative;
}

.automation_content {
  position: absolute;
  top: 58px;
  z-index: 99;
  left: 32px;
  max-width: 258px;
}

.automation_content h4 {
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
}

.automation_content p {
  font-size: 16px;
  color: #fff;
  font-style: normal;
  font-weight: 300;
  line-height: 22.4px;
}

.robotics_card {
  position: relative;
  background: #1D1A2F;
  width: 100%;
  border-radius: 32px;
  box-shadow: 0px 32px 64px 0px rgba(0, 0, 0, 0.25);
  height: 320px;
  display: flex;
  align-items: end;
  margin-top: -109px;
}

.robotics_bg img {
  border-radius: 0 0 30px 0;
}

.robotics_bg img {
  width: 110%;
  margin-left: -10%;
}

.robotics_card .automation_content {
  top: 20px;
}

.where_we_shine .automation_content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.where_we_shine .automation_content h4 {
  font-weight: 700;
}

.where_we_shine .automation_content h4,
.where_we_shine .automation_content p {
  color: #1D1A2F;
}

.where_we_shine {
  width: 100%;
  max-width: 530px;
  margin-left: auto;
  margin-top: 58px;
  position: relative;
}

.artifical_content {
  background: #1D1A2F;
  overflow: hidden;
  border-radius: 32px;
}

.artifical_content img {
  width: 100%;
  height: 356px;
  object-fit: cover;
}

.artifical_content .automation_content {
  top: auto;
  bottom: 35px;
}

.tackling_card .where_we_shine {
  max-width: 100%;
  margin-top: 0;
}

section.tackling {
  padding: 40px 0;
  position: relative;
  /* overflow: hidden; */
}

.tackling_card {
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 32px 64px 0px rgba(0, 0, 0, 0.25);
  padding: 32px;
}

.tracking_form form input,
.tracking_form form input:active,
.tracking_form form input:focus,
.tracking_form form input:hover,
.tracking_form form textarea,
.tracking_form form textarea:active,
.tracking_form form textarea:focus,
.tracking_form form textarea:hover {
  border: 1px solid #1D1A2F;
  height: 56px;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
  padding: 8px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.4px;
  color: #1D1A2F;
}

.tracking_form form textarea,
.tracking_form form textarea:active,
.tracking_form form textarea:focus,
.tracking_form form textarea:hover {
  height: 140px;
  padding: 16px;
}

.tracking_form form input::placeholder,
.tracking_form form textarea::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.4px;
  color: #1D1A2F;
  opacity: 0.3;
}

.tracking_form form .btn.btn-primary {
  background: #1D1A2F;
  color: #fff;
  border-color: #1D1A2F;
  padding: 16px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 56px;
}

.address_bg {
  background: #EFF1F3;
  border-radius: 32px;
  height: 245px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 26px;
}

.address_bg h5 {
  font-size: 16px;
  font-style: normal;
  color: #000;
  font-weight: 600;
  line-height: 24px;
}

.address_bg a {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.4px;
  color: #000;
}

footer {
  position: relative;
  background-color: #1D1A2F;
  margin-top: 60px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  padding: 50px 0 22px;
}

footer .banner_content li a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.4px;
}

.footer_heading h4 {
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.copyright p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.523%;
  color: #fff;
}

section.banner_section.generate_banner {
  height: 100vh;
}

.banner_section.generate_banner .bg_video video {
  min-width: 100%;
  min-height: 100%;
  height: 107%;
}

.btn.btn-primary.inner_button {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  height: 56px;
  padding: 10px 24px;
  min-width: 160px;
  justify-content: center;
}

/*=== login ===*/
.login_section {
  background: #1D1A2F;
}

form.login_form input,
form.login_form input:active,
form.login_form input:focus,
form.login_form input:hover {
  background: transparent !important;
  outline: none;
  box-shadow: none;
  border: 1px solid #fff;
  height: 56px;
  border-radius: 8px;
  padding: 0 16px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form.login_form input::placeholder {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login_form button.btn.btn-primary.inner_button {
  border-radius: 8px;
}

.login_form button.btn.btn-primary.inner_button.transparent_button {
  background: transparent;
  color: #fff;
}

.center_border:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 1px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

header.inner {
  top: 24px;
}

form.login_form .error input {
  border: 1px solid #FF6528;
}

form.login_form .error input::placeholder {
  color: #FF6528;
}

form.login_form .error label {
  color: #FF6528;
  font-size: 12px;
  font-style: normal;
  padding: 0 16px;
  font-weight: 300;
  line-height: normal;
}

.user_info h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #1D1A2F;
  display: flex;
  align-items: center;
}

header ul.navbar-nav {
  gap: 20px;
}

header ul.navbar-nav .nav-item .nav-link {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #1D1A2F;
  padding: 7.4px 16px;
  border-radius: 24px;
  transition: 0.5s;
}

header ul.navbar-nav .nav-item .nav-link.active,
header ul.navbar-nav .nav-item .nav-link:hover {
  color: #B4F43D;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  background: #1D1A2F;
  transition: 0.5s;
}

/*=== generate code ===*/
section.generate_code_section {
  min-height: 100vh;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_text h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  color: #000;
}

.inner_text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22.4px;
  color: #000;
}

.generate_code_section .tracking_form .form-control {
  background: #EFF1F3;
  border: 1px solid #EFF1F3 !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #1D1A2F;
  padding: 20px 24px;
}

.generate_code_section .tracking_form .form-control::placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 500 !important;
  opacity: 0.5;
  line-height: 32px;
  color: #1D1A2F;
}

.select_outer {
  background: #F1F2F6;
  border-radius: 16px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select_outer select,
.select_outer select:active,
.select_outer select:focus,
.select_outer select:hover {
  border: none;
  background: transparent;
  appearance: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  font-style: normal;
  font-weight: 450;
  line-height: 32px;
  font-size: 18px;
  color: #000;
  z-index: 9;
  padding: 12px 12px 12px 24px;
}

.dorpdown_icon {
  position: absolute;
  right: 12px;
  z-index: 0;
}

.generate_code_section .tracking_form form button.btn.btn-primary {
  background: #271353;
}

.navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width:1400px) {
  section.banner_section {
      height: 90vh;
  }
}

@media (max-width:1370px) {
  section.banner_section {
      height: 110vh;
  }

  .robotics_card {
      height: 279px;
      margin-top: -97px;
  }
}

@media (max-width:1290px) {
  section.banner_section {
      height: 80vh;
  }

}

@media (max-width:1100px) {
  .banner_section .bg_video video {
      max-height: 100%;
  }
}

@media (max-width:992px) {
  .where_we_shine {
      max-width: 100%;
      margin-bottom: 58px;
  }

  .robotics_card {
      height: 356px;
      margin-top: -125px;
  }

  .robotics_bg img {
      width: 120%;
      margin-left: -10%;
  }

  .center_border:after {
      display: none;
  }

  header ul.navbar-nav .nav-item .nav-link {
      padding: 7.4px 0px;
  }

  header ul.navbar-nav .nav-item .nav-link.active {
      padding: 7.4px 16px;
  }

  header ul.navbar-nav {
      gap: 5px;
  }

  .navbar-collapse {
      background: #fff;
      padding: 9px;
      box-shadow: 0 10px 20px 0 #e4e4e4;
      border-radius: 10px;
      margin-top: 14px;
  }

}

@media (max-width:850px) {
  header {
      top: 24px;
  }

  section.banner_section.generate_banner {
      height: auto;
      min-height: 100vh;
  }
}

@media (max-width:767px) {
  .robotics_card {
      height: 356px;
      margin-top: 16px;
      width: 100%;
      overflow: hidden;
  }

  .robotics_bg img {
      width: 98%;
      margin-left: 4%;
      margin-right: 0;
  }

  .where_we_shine {
      margin-bottom: 28px;
      margin-top: 28px;
  }

  .artifical_content img {
      object-fit: cover;
      object-position: right;
  }

  section.tackling {
      padding: 0px 0;
  }

  footer {
      margin-top: 40px;
      border-top-left-radius: 28px;
      border-top-right-radius: 28px;
  }

  .footer_heading h4 {
      color: #fff;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
  }

  br {
      display: none !important;
  }

  .automation_content h4 {
      font-size: 25px;
      line-height: 30px;
  }


  section.banner_section {
      padding: 88px 0;
      height: 107vh;
  }

}